---
import LaravelIcon from "../icons/Laravel.astro"
import AngularIcon from "../icons/Angular.astro"
import TailwindIcon from "../icons/Tailwind.astro"
import UnityIcon from "../icons/Unity.astro"
import CsharpIcon from "../icons/Csharp.astro"
import SocialPill from "../icons/SocialPill.astro"
import GitHubIcon from "../icons/GitHub.astro"
import PreviewIcon from "../icons/Preview.astro"

const TAGS = {
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#672825] text-white",
    icon: LaravelIcon,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#571319] text-white",
    icon: AngularIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#23445a] text-white",
    icon: TailwindIcon,
  },
  UNITY: {
    name: "Unity",
    class: "bg-gray-800/80 text-white",
    icon: UnityIcon,
  },
  CSHARP: {
    name: "C#",
    class: "bg-[#5f00fb] text-white",
    icon: CsharpIcon,
  },
}

const PROJECTS = [
  {
    title: "ESCREAM - SVOD de terror ",
    description:
      "Aplicación de streaming en vivo de películas de terror de habla castellana y hispanoamericana",
    link: "#",
    comment: "SVOD significa streaming video on demand",
    github: "https://github.com/hug0gil/ESCREAM",
    image: "/projects/Escream_so.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND, TAGS.LARAVEL],
    hasPreview: false,
    preview: "#",
    repo: "https://github.com/hug0gil/ESCREAM",
  },
  {
    title: "BeardLess - 2D Videogame",
    description:
      "Videojuego de plataformas con estética pirata y retro desarrollado en C#",
    link: "#",
    github: "https://github.com/hug0gil/Beardless",
    image: "/projects/Beardless_so.webp",
    tags: [TAGS.UNITY, TAGS.CSHARP],
    hasPreview: true,
    preview: "https://kalandraka86.itch.io/beardless",
    repo: "https://github.com/hug0gil/Beardless",
  },
]
---

{
  PROJECTS.map((project) => (
    <article
      class={`${Astro.props.class} mb-15 flex flex-col sm:flex-row gap-6`}
    >
      <div>
        <img
          src={project.image}
          alt={`Captura de pantalla del proyecto ${project.title}`}
          class='rounded shadow-2xl shadow-white/15 w-[432px] h-[244px] object-cover'
        />
      </div>
      <div>
        <h3 class='text-2xl font-semibold text-red-300/90 mb-2'>
          {project.title}
        </h3>
        <p class='text-lg mb-4 text-pretty'>{project.description}</p>
        <ul class='flex gap-x-4 flex-row mb-3 justify-center'>
          {project.tags.map((tag) => (
            <span
              class={`flex gap-x-2 rounded-full text-[15px] ${tag.class} py-1 px-2 mb-5 items-center`}
            >
              <tag.icon class='size-5' />
              <li>{tag.name}</li>
            </span>
          ))}
        </ul>
        <div class={`flex flex-row gap-5 items-center justify-center mt-7`}>
          <SocialPill href={project.repo} class='text-[20px]'>
            <GitHubIcon class='size-7 sm:size-8' />
            Code
          </SocialPill>
          {project.hasPreview && (
            <SocialPill href={project.preview} class='text-[20px]'>
              <PreviewIcon class='size-7 sm:size-8' />
              Preview
            </SocialPill>
          )}
        </div>
      </div>
    </article>
  ))
}
